@page "/accounts"
@inject IAccountsClient accountsClient

<h1>Accounts</h1>

@if (accounts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>
        <NavLink href="/accounts/create">Create Account</NavLink>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Account Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (AccountDto account in accounts)
            {
                <tr>
                    <td>@account.Id</td>
                    <td>@account.FirstName</td>
                    <td>@account.LastName</td>
                    <td>
                        <a href="/accounts/edit/@account.Id">Edit</a> |
                        <a href="/accounts/delete/@account.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private AccountDto[] accounts;

    protected override async Task OnInitializedAsync()
    {
        accounts = await accountsClient.GetAllAccounts();
    }
}
