@page "/meterreadings"
@inject HttpClient Http

<h1>Meter Readings</h1>

@if (readings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>
        <NavLink href="/meterreadings/create">Create Meter Reading</NavLink>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Account Id</th>
                <th>Meter Reading Id</th>
                <th>Reading Time</th>
                <th>Reading Value</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (MeterReadingDto reading in readings)
            {
                <tr>
                    <td>@reading.AccountId</td>
                    <td>@reading.Id</td>
                    <td>@reading.MeterReadingDateTime</td>
                    <td>@reading.MeterReadingValue</td>
                    <td>
                        <a href="/meterreadings/edit/@reading.Id">Edit</a> | 
                        <a href="/meterreadings/delete/@reading.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private MeterReadings.Dto.MeterReadingDto[] readings;

    protected override async Task OnInitializedAsync()
    {
        readings = await Http.GetFromJsonAsync<MeterReadingDto[]>("http://localhost:41943/api/meterreadings");
    }
}